*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(5, 0, 44);
    color: white;
}
.form{
    width: 500px;
    height: 800px;
    margin: 0 26%;

}
.form p{
    margin: 30px;
    font-size: 30px;
}
.form button{
    margin: 0px 260px;
    width: 60px;
}
.form label{
    font-size: 30px;
}

.gender{
    width: 600px;
}
