*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(5, 0, 44);
    color: white;
}
.text{
    display: flex;
    margin: 60px;
    
}
h1{
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
.box1{
    
    width: 360px;
    height: 300px;
    background-color:rgba(185, 144, 200, 0.168);
    border-radius: 24px;
    margin: 30px 50px;
}
.box1 img{
    width: 100px;
    height: 100px;
    margin: 0px 120px;

}
.box1 h2{
    margin-top: 20px;
    margin-left: 20px;
}
.para{
    margin: 20px;
}
.box2{
    
    width: 360px;
    height: 300px;
    background-color:rgba(185, 144, 200, 0.168);
    border-radius: 24px;
    margin: 30px 50px;
}
.box2 img{
    width: 100px;
    height: 100px;
    margin: 10px 120px;

}
.box2 h2{
    margin-top: 3px;
    margin-left: 126px;
}
.box2 li{
    margin: 20px 50px;
}
.box3{
    
    width: 360px;
    height: 300px;
    background-color:rgba(185, 144, 200, 0.168);
    border-radius: 24px;
    margin: 30px 50px;
}
.box3 img{
    width: 100px;
    height: 100px;
    margin: 10px 120px;

}
.box3 h2{
    margin-top: 3px;
    margin-left: 36px;
}
.box3 li{
    margin: 20px 50px;
}